body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #fdc482;
  text-align: center;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
} 

.text {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 90%;
}

.doble-gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /*background-color: #8a7c73;*/ /*i cant lie this color makes me mad*/
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 80%;
}

button {
  font-family:Georgia, 'Times New Roman', Times, serif; /*feel free to change*/
  padding: 10px 16px;
  margin-top: 10px;
  border: #003a79 2px;
  border-radius: 8px;
  background-color: #6a72a3;
  color:#003a79; 
  cursor: pointer;
}

button:hover {
  background-color: #ad9a91;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.flashbang-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

h1 {
  color: #003a79;
  font-size: 36px;
}

h2 {
  color: #003a79;
}

p {
  color: #003a79;
  font-size: 18px;
}

#generatePromptBtn {
  margin-top: 10px;
}

#submittedScreen {
  display: none;
  text-align: center;
}

#submittedScreen h2 {
  color: #003a79;
  font-size: 32px;
}

#submittedScreen .success-message {
  font-size: 18px;
  margin: 30px 0;
}

#submittedScreen .success-subtext {
  font-size: 16px;
  margin-bottom: 30px;
  color: #666;
}

input {
    color: black;
    height: 40px;
    width: 400px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 5px;
    background-color: #ffe6c9;
}

a:link {
  color: #003a79;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #003a79;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color:#da7280;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #fdc482;
  background-color: transparent;
  text-decoration: underline;
}

.topnav {
  overflow: hidden;
  background-color: #6a72a3;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #003a79;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #003a79;
  color: #6a72a3;
}

section {
  margin: 10px;
  padding: 10px;
  border: 1px solid #003a79;
  border-radius: 10px;
  background-color: #6a72a3;
}